@media (max-width: 1200px) {
  .services__box {
    justify-content: center;
  }
  .services__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .barbers__box {
    justify-content: center;
  }
  .barbers__item {
    margin: 30px;
  }
}




@media (max-width: 990px) {
  .home__title {
    font-size: 55px;
    line-height: 60px;
  }
  .home__text {
    font-size: 20px;
  }

  .about__inner {
    flex-wrap: wrap;
    padding-top: 130px;
    padding-bottom: 20px;
  }
  .services__inner,
  .barbers__inner,
  .testimonials__inner,
  .news__inner {
    padding-bottom: 20px;
  }
  .about__descr {
    text-align: center;
    margin-bottom: 30px;
  }
  .about__text {
    margin-bottom: 30px;
  }
  .about__img1 {
    display: none;
  }
  .about__img-box {
    display: block;
    margin: 0 auto;
    min-height: 215px;
  }
  .about__img2,
  .about__img3 {
    margin: 0 15px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__info {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer__contacts {
    max-width: 100%;
    text-align: center;
  }
  .footer__logo {
    display: block;
    margin: 0 auto;
  }
  .footer__adress,
  .footer__phone {
    display: inline-block;
    margin: 20px;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .footer__menu {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__item {
    display: inline-block;
    margin: 0 10px;
  }
  .footer__mailing {
    text-align: center;
  }
  .footer__form {
    margin: 0 auto;
  }
}


@media (max-width: 830px) {
  .home__title {
    font-size: 45px;
    line-height: 50px;
  }
  .home__text {
    font-size: 18px;
  }
  .services__item {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 720px) {
  .header__nav {
    opacity: 1;
    
  }
  .header__menu {
    display: none;
    text-align: center;
  }
  .header__item {
    margin-top: 20px;
  }
  .header__item+.header__item {
    margin-left:  0px;
  }
  .burger {
    display: block;
    width: 40px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    &__line {
      width: 100%;
      height: 3px;
      background-color: #c79e56;
      position: absolute;
      left: 0;
      transition: all .3s;
      &--first {
        top: 0;
      }
      &--second,
      &--third {
        top: 50%;
        transform: translateY(-50%);
      }
      &--fourth {
        bottom: 0;
      }
    }
    &__active .burger__line--first,
    &__active .burger__line--fourth {
      opacity: 0;
    }
    &__active .burger__line--second {
      transform: translateY(-50%) rotate(45deg);
    }
    &__active .burger__line--third {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  .header__menu-link {
    width: 100%;
    font-size: 24px;
  }
  .home__inner {
    padding: 100px 0 80px;
  }

  .footer {
    padding: 30px 0 30px;
  }
 
  .footer__menu {
    display: none;
  }
  .footer__mailing {
    display: none;
  }
  .footer__info {
    margin-bottom: 30px;
  }
  .footer__social {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .footer__social-ico {
    font-size: 30px;
  }
}


@media (max-width: 670px) {
  .about__img3 {
    display: none;
  }
  .about__img2 {
    width: 100%;
  }
  .about__popup {
    padding: 30px;
  }
  .title-h2 {
    font-size: 30px;
  }
  .about__text {
    font-size: 18px;
  }
  .look-book {
    display: none;
  }
  .header__menu-link--lookbook {
    display: none;
  }
  .testimonials .slick-arrow {
    display: none;
  }
}


@media (max-width: 530px) {
  .about__popup {
    padding: 30px 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .about__logo {
    margin-bottom: 20px;
  }
  .about__contacts {
    margin-top: 20px;
  }
  .about__btn {
    font-size: 22px;
    line-height: 32px;
  }
  .services__inner,
  .testimonials__inner,
  .barbers__inner,
  .news__inner {
    padding: 100px 0 50px;
  }
}

@media (max-width: 400px) {
  .about__img2 {
    display: none;
  }
  .about__inner {
    padding-bottom: 0;
  }
  .services__item {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}












@media (min-width: 721px) {
  .header__menu {
    display: flex !important;
  }
}